# Example env file

# Flask settings
FLASK_APP=app.py
FLASK_ENV=development
FLASK_PORT=5000

# MongoDB settings
MONGO_URI=mongodb://127.0.0.1:27017/change_example_name
MONGO_DB=change_example_name

SECRET_KEY=change-this-to-a-random-string